<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet/less" href="/less/style.less" media="all"/>
    <link rel="stylesheet" href="/css/semantic.css">
    <script data-main="js/config" src="/js/lib/less.js"></script>
</head>
<body>
<header>
    <div class="secondary pointing ui menu">
        <div class="logo item">Sweet</div>
        <div class="right menu">
            <div class="ui top right pointing mobile dropdown link item">
                Меню
                <i class="dropdown icon"></i>

                <div class="menu">
                    <a href="/admin/list" class="item">Главная</a>
                    <a href="/admin/add" class="item">Создать</a>
                </div>
            </div>
            <a href="/admin/list" class=" item">Главная</a>
            <a href="/admin/add" class="{% if not id %}active{% endif %} item">Создать</a>
        </div>
		<div class="right menu ui icon input">
            <input type="text" name="search" placeholder="поиск...">
            <i class="inverted search icon"></i>
        </div>
    </div>
</header>
{% if object.value == None %}
Объект не найден
{% else %}
{% if id %}
<h1>Редактирование объекта #{{id}}</h1>
{% else %}
<h1>Добавление объекта</h1>
{% endif %}

<script>
    dict = {};
    dict.studios = [
        {% for i in h._getStudios(connect) %}
        {% if i %}'{{i}}',{%endif%}
        {% endfor %}
    ];
    dict.countries = [
        {% for i in h._getCountry(connect) %}
        {% if i %}'{{i}}',{%endif%}
        {% endfor %}
    ];

    dict.years = [];


    {% for type in object.value.get('cast',[]) %}
    dict['{{type}}'] = [
                {% for cast in h._getCasts(connect, type) %}
                '{{cast}}',
                {% endfor %}
    ];
    {% endfor %}

</script>

<form action="/admin/save" method="post" enctype="multipart/form-data"  >
<div id="edit-hidden-form" style="display:none;" data-id="{{id}}"></div>
<main class="ui one column grid">
    <aside class="column">
        <form id="form-add">
            <div class="ui form piled segment">
                <div class="two fields">
                    <div class="field">
                        <label>Название</label>
                        <input placeholder="Название" name="title" type="text" value="{{object.value['title']}}">
                    </div>
                    <div class="field" row-name="countries">
                        <label>Страна</label>
                        <input type="hidden" class="multy" ctype="countries"  value="{{','.join(object.value['countries'])}}"/>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field" row-name="studios">
                        <label>Студия</label>
                        <input placeholder="Студия" class="multy"  ctype="studios"  type="hidden" value="{{','.join(object.value['studios'])}}"/>
                    </div>
                    <div class="field" row-name="years">
                        <label>Годы создания</label>
                        <input placeholder="Год создания"  ctype="years" class="multy" type="hidden"  value="{{','.join(object.value['years'])}}"/>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label for="file" class="ui icon button">
                            <i class="file icon"></i>
                            Постер</label>
                        <input type="file" id="file" name="poster" style="display:none">
                    </div>
                </div>
                <div class="two fields">

                </div>
                {% for type in object.value.get('cast',[]) %}
                <div class="fields inline" row-name="cast" ctype="{{type}}">
                    <div id="add-field'+rand+'">
                        <label>{{type}}</label>
                        <input name="" type="text" class="multy" ctype="casts" field-type="{{type}}" value="{{','.join(object.value['cast'][type])}}" />
                    </div>
                </div>
                {% endfor %}
                <div class="fields inline" id="addd">
                    </div>
                <div class="fields inline">
                    <div class="field" id="field-name">
                        <label>Введите название поля</label>
                        <input name="" type="text" value="" />
                        <div class="ui circular small icon button" id="addField">Добавить<i class="add icon"></i></div>
                    </div>

                </div>
                <div class="ui circular small icon button" id="addFields">Ещё полей<i class="add icon"></i></div>
                <input type="submit" value="Сохранить" class="ui blue submit button" />
            </div>
        </form>
    </aside>
</main>
</form>


<script data-main="/js/config" src="/js/lib/require.js"></script>
<script>
    require(['config'], function(){
        require(
                [
                    'jquery',
                    'app',
                    'modules/forms'
                ], function($){
                }
        )
    });

</script>

<!--form action="/admin/save" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{id}}">
    <table border="0">
        <tr valign="top">
            <td>Название</td>
            <td>
                <input type="text" value="{{ object.value.get('title','') }}" name="title">
            </td>
        </tr>
        <tr valign="top">
            <td>Студии</td>
            <td>
                {% for studio in h._getStudios(connect) %}
                <input type="checkbox" value="{{studio}}" name="studios[]" {% if studio in object.value['studios']
                %}checked{% endif %} >{{studio}}<br>
                {% endfor %}
                <input type="text" name="studios[]">
            </td>
        </tr>
        <tr valign="top">
            <td>Страны</td>
            <td>
                {% for country in h._getCountry(connect) %}
                <input type="checkbox" value="{{country}}" name="countries[]" {% if country in object.value['countries']
                %}checked{% endif %} >{{country}}<br>
                {% endfor %}
                <input type="text" name="countries[]">
            </td>
        </tr>
        <tr valign="top">
            <td>Постер</td>
            <td>
                {% if object.value.get('poster','') %}<img src="{{h._getPicUrl(object.value.get('poster',''))}}"
                                                           height="200">{% endif %}
                <input type="file" name="poster"/>
            </td>
        </tr>

        <tr valign="top">
            <td>Годы</td>
            <td>
                {% for year in object.value.get('years', []) %}
                {{ year }}<br>
                {% endfor %}
                <input type="text" name="years[]">
            </td>
        </tr>
        {% for type in object.value.get('cast',[]) %}
        <tr valign="top">
            <td>{{type}}</td>
            <td>
                {% for cast in h._getCasts(connect, type) %}
                <input type="checkbox" value="{{cast}}" name="casts[{{type}}][]" {% if cast in
                object.value['cast'][type] %}checked{% endif %} >{{cast}}<br>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}

        <tr>
            <td colspan="2"><input type="submit" value="save"></td>
        </tr>
    </table>
</form-->
{% endif %}
</body>
</html>