<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet/less" href="/less/style.less" media="all" />
    <link rel="stylesheet" href="/css/semantic.css">
    <script data-main="js/config" src="/js/lib/less.js"></script>
</head>
<body>
<header>
    <div class="secondary pointing ui menu">
        <div class="logo item">Sweet</div>
        <div class="right menu">
            <div class="ui top right pointing mobile dropdown link item">
                Меню
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="/admin/list" class="active item">Главная</a>
                    <a href="/admin/add" class="item">Создать</a>
                </div>
            </div>
            <a href="/admin/list" class="active item">Главная</a>
            <a href="/admin/add" class="item">Создать</a>
        </div>
		<div class="right menu ui icon input">
            <input type="text" name="search" placeholder="поиск...">
            <i class="inverted search icon"></i>
        </div>
    </div>
</header>
<h1>Список элементов</h1>
<div class="ui five type stackable items list-items">
    {% for row in result %}

    <div class="item" style="background:url({{ h._getPicUrl(row.value.poster,'216x324') if 'poster' in row.value else 'https://world.utexas.edu/io/images/finance/nopictureavailable.gif' }}) no-repeat top center">
        <div class="ui black icon buttons">
            <a href="/admin/edit/{{row.key}}" class="ui button"><i class="icon settings"></i></a>
            <a href="/admin/delete/{{row.key}}" class="ui button"><i class="icon trash"></i></a>
        </div>
        <div class="content">
            <a href="/admin/edit/{{row.key}}" class="name">{{ row.value.title }}</a>
            <!--p class="meta last-date">Изменен: 30.01.2014 20.22</p-->
        </div>
    </div>
    {% endfor %}
</div>

<div class="ui pagination menu">
    {% for i in h.getPager(per_page, count_total) %}
    <a href="/admin/list/{{i}}" class="item {{ 'active' if i == current_page }}">{{i}}</a>
    {% endfor %}
</div>

<script data-main="/js/config" src="/js/lib/require.js"></script>
<script>
    require(['config'], function(){
        require(
                [
                    'jquery',
                    'app',
                    'modules/forms'
                ], function($){
                }
        )
    });

</script>
</body>
</html>