<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet/less" href="/less/style.less" media="all"/>
    <link rel="stylesheet" href="/css/semantic.css">
    <script data-main="js/config" src="/js/lib/less.js"></script>
</head>
<body>
<header>
    <div class="secondary pointing ui menu">
        <div class="logo item">Sweet</div>

        <div class="right menu">
            <div class="ui top right pointing mobile dropdown link item">
                Меню
                <i class="dropdown icon"></i>

                <div class="menu">
                    <a href="/admin/list" class="active item">Главная</a>
                    <a href="/admin/add" class="item">Создать</a>
                </div>
            </div>
            <a href="/admin/list" class="item">Главная</a>
            <a href="/admin/add" class="item">Создать</a>
        </div>
    </div>
</header>
<h1>Поиск по фразе "{{searchword}}"</h1>
<div class="ui five type stackable items list-items">
    {% if not result %}
    <h1>Ничего не найдено</h1>
    {% endif %}
    {% for id in result %}
    <div class="item"
         style="background:url({{ h._getPicUrl(result[id].value.poster,'216x324') if 'poster' in result[id].value else 'https://world.utexas.edu/io/images/finance/nopictureavailable.gif' }}) no-repeat top center">
        <div class="ui black icon buttons">
            <a href="/admin/edit/{{result[id].key}}" class="ui button"><i class="icon settings"></i></a>
            <a href="/admin/delete/{{result[id].key}}" class="ui button"><i class="icon trash"></i></a>
        </div>
        <div class="content">
            <a href="/admin/edit/{{result[id].key}}" class="name">{{ result[id].value.title }}</a>
        </div>
    </div>
    {% endfor %}
</div>

<script data-main="js/config" src="js/lib/require.js"></script>
<script>
    require(['config'], function(){
        require(
            [
                'jquery',
                'app'
            ], function($){
            }
        )
    });


</script>
</body>
</html>