.header {
    border-bottom: 1px solid #D5D9DA;
}
.sw-logo, .sw-logo:hover {
    display: block;
    float: left;
    padding: 30px 0;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #9d426b;
    text-decoration: none;
}
.header .navbar-inner {
    background: #fff;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.header ul.nav {
    font-size: 14px;
    text-transform: uppercase;
}
.navbar {
    margin-bottom: 0;
}
.header .navbar .nav>li {
    float: left;
}
.navbar .nav.pull-right {
    margin-top: 20px;
}
h1 {
    margin-top: 25px;
    margin-bottom: 0;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #5d5d5d;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}
.sub-title {
    font-size: 12px;
    color: #858080;
    margin-bottom: 10px;
}
